@font-face {
  font-family: "iconfont"; /* Project id 3748200 */
  src: url('iconfont.woff2?t=1678713493764') format('woff2'),
       url('iconfont.woff?t=1678713493764') format('woff'),
       url('iconfont.ttf?t=1678713493764') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-md-swap:before {
  content: "\e660";
}

.icon-md-trending-up:before {
  content: "\e77f";
}

.icon-md-remove:before {
  content: "\e6b7";
}

.icon-md-trending-down:before {
  content: "\e95e";
}

.icon-success:before {
  content: "\e676";
}

.icon-chartBarUpward:before {
  content: "\e846";
}

.icon-24gf-chartBarUpward:before {
  content: "\e848";
}

.icon-shezhi:before {
  content: "\e83f";
}

.icon-switch:before {
  content: "\e70b";
}

.icon-menu1:before {
  content: "\e61e";
}

.icon-upload:before {
  content: "\e629";
}

.icon-menu:before {
  content: "\e615";
}

.icon-star:before {
  content: "\e681";
}

.icon-star_off:before {
  content: "\e662";
}

.icon-ios:before {
  content: "\e64b";
}

.icon-android:before {
  content: "\e69f";
}

.icon-plus:before {
  content: "\e601";
}

.icon-grade:before {
  content: "\e88c";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-eye-close:before {
  content: "\e66f";
}

.icon-arrow-down-fill:before {
  content: "\e60c";
}

.icon-zizhutuiguang:before {
  content: "\e600";
}

.icon-fasongx:before {
  content: "\e605";
}

.icon-tuite:before {
  content: "\e652";
}

.icon-zhanghuguanli:before {
  content: "\e613";
}

.icon-qianbao3-mianxing:before {
  content: "\e6ea";
}

.icon-moon:before {
  content: "\e6a0";
}

.icon-sun:before {
  content: "\e712";
}

